@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
.title {
    font-size: 4rem;
    font-weight: 700;
    color: #2ecc71;
    font-family: 'Tangerine', cursive;
}
#search {
    -webkit-appearance: none;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    width: 30%;
    line-height: 30px;
    margin-bottom: 30px;

}




@media only screen and (max-width: 700px) {
    .title {
        font-size: 3rem;
    }
}